@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,600&f[]=excon@100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
    font-style: normal;
    color: var(--body-one);
}

body{
    background-color: var(--backgund-main) !important;
}

:root {
    --body-one: hsl(0, 18%, 97%);
    --sec-color: hsl(163, 24%, 25%);
    --contrast-color: hsl(150, 19%, 27%);
    --link: hsl(91, 53%, 85%);
    --background-color-header: hsl(150, 16%, 32%);
    --backgund-main: hsl(186, 57%, 14%);
    --backound-two: hsl(0, 18%, 97%);
    --non-click-tabs: hsl(154, 17%, 26%);
    --hover-link: hsl(70, 47%, 85%);
    --header:hsl(65, 85%, 74%);
}


p {
    font-size: 1em;
    margin: 1em 0;
}


li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--project-header-color);
}

.project-container h1 {
    font-size: 2.5em;
    @media only screen and (min-width: 600px) {
        font-size: 4em;
    }
}

a,
a:focus,
a:active,
a:visited {
    color: var(--link);
    font-size: 1.1em;
}

a:hover {
    transition: .3s ease-out;
    transform: scale(1);
    color: var(--hover-link);
    animation: alternate 3ms;
}

.sub-title {
font-size: 2em;
color: var(--header);
}


.medium-text {
    font-size: 1.5em;

    @media only screen and (min-width: 600px) {
        font-size: 2em;
    }
}

.large-text {
    font-size: 2em;

    @media only screen and (min-width: 600px) {
        font-size: 3em;
    }
}
.padding-none{
    padding: 0 15%; 
    margin: 0 auto;
}

.padding-5{
    padding: 5% 15%; 
    margin: 0 auto;
}

.padding-10{
    padding: 10% 15%; 
    margin: 0 auto;
}

 .padding-15{
    padding: 15% 15%;
    margin: 0 auto;
 }

.top {
    margin-top: 1em;
}

bottom {
    margin-bottom: 1em;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrap-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mar-w {
    margin-top: 2em;
    margin-bottom: 2em;
}

iframe {
    max-width: 100%;
    max-width: 100%;
    height: 400px;
}

.space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copy {
    color: var(--body-one);
}

.card-content-container h2 {
    margin: 0;
    font-size: 1.4em;
    font-weight: 500;

    @media only screen and (min-width: 1000px) {
        font-size: 1.2em;

        @media only screen and (min-width: 1400px) {
            font-size: 1.6em;
        }
    }
}

.card-content-container h3 {
    font-weight: 300;
}

.context {
    padding: 5%;

    @media only screen and (min-width: 800px) {
        display: flex;
        justify-content: center;
        padding: 10%;
    }
}

.context-text{
    @media only screen and (min-width: 800px) {
    padding: 1em;
}}

/*background images for grid*/
.context-background-img {
    border-radius: 1em;
    width: 320px;
    height: 300px;
    border: 1px solid #eee;
    background-size: cover;
    background-position: 50% 50%;
    image-rendering: -webkit-optimize-contrast;

    @media only screen and (min-width: 1000px) {
        width: 320px;
        height: 375px;

        @media only screen and (min-width: 1400px) {
            width: 400px;
            height: 400px;
        }
    }
}

context-container-1 {
    @media only screen and (min-width: 600px) {
        display: flex;
        justify-content: space-between;
    }
}

.back-one {
    background-image: url(https://i.ibb.co/rfBwZKF/fiver-thumbnail-7.png);
}

.back-two {
    background-image: url(https://i.ibb.co/Cw5TdgL/i-Pad-Pro-2017-1.png);
}

.back-three {
    background-image: url(https://i.ibb.co/YLpj3jc/Ink-Tank-into.png);
}

.back-four {
    background-image: url(https://i.ibb.co/DRPVXx1/Portfolio4chowdown.jpg);
}

.back-five {
    background-image: url(https://i.ibb.co/r3gpDGn/Slide-16-9-1.png);
}

.back-seven {
    background-image: url(https://i.ibb.co/0nYcwjN/fiver-thumbnail-6.png);
}

.back-six {
    background: #395346;
}

.card-content-container ul {
    display: flex;

    @media only screen and (min-width: 600px) {
        flex-wrap: wrap;
    }
}


.content-container {
    margin: 2em 1em;
}

.content-container-hero {
    display: grid;
    margin: 1em;
}

.content-container-hero p {
    color: #395346;
}


.container ul {
    display: flex;
    flex-wrap: wrap;


}

.container li {
    list-style: none;
    margin-top: 2em;
    padding: 2em 3em 0 0;
}


.other-projects {
    @media only screen and (min-width: 600px) {
        margin: auto 1em;
        width: 50%;

    }

    @media only screen and (min-width: 830px) {
        margin: auto 2em;
        width: 80%;
    }
}

.project-grid {
    z-index: 9;

    @media only screen and (min-width: 830px) {
        display: grid;
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1250px) {}

}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 3 / 2 / 4 / 3;
}

.content-grid {
    display: grid;
    justify-content: center;
    margin: 45vh 1em 0 1em;
}


.about-container {
    margin: 2em 6em;
}

.about-container h1,
.dp-containter h1 {
    font-size: 4em;
    margin: 0 0 .5em 0;
}

.about-container-text {
    line-break: auto;
    line-height: 2em;
    margin-right: 2em
}

.tabs {
    background-color: var(--non-click-tabs);
    border-radius: 12px;
    width: 50px;
    height: 40px;
    padding: .5em;
    max-width: 100%;
    text-align: center;
    font-weight: 500;
    margin: .2em .2em 0 0;

    @media only screen and (min-width: 600px) {
        margin: .5em .5em 0 0;
    }
}


.flex {
    @media only screen and (min-width: 1000px) {
        display: flex;
        justify-content: space-between;
    }
}

.flex-wrap-r {
    display: flex;
    flex-wrap: wrap;

}

.bold {
    font-weight: bold;
}

.border-line-r {
    border-top: #5cb187 1px dashed;
    width: 100%;

    @media only screen and (min-width: 600px) {
        border: none;
    }
}

.border-line-t {
    border-top: #5cb187 1px dashed;
    width: 100%;
}

.card-content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    margin: 2em;
    width: 300px;
    max-height: 600px;
    justify-content: center;
    align-content: space-around;
    font-size: 16px;
    transform: translateY(0px);
    transition: all 0.6s;

    @media only screen and (min-width: 1000px) {
        flex-wrap: nowrap;
        width: 100%;
        max-width: 500px;
        grid-template-columns: 4fr;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
        justify-content: space-between;
    }

    @media only screen and (min-width: 1400px) {
        max-width: 800px;
        max-height: 400px;
        grid-template-rows: 3fr;
        grid-template-columns: 2fr;
    }
}

.card-content-container:hover {
    background: hsla(151, 76%, 82%, 0.182);
    border-radius: 5%;
    padding: 5%;
    margin: auto;

    & .content-grid-text h2 {
        transform: translateY(-10px);
        transition: all 0.6s;
        color: #dad88c;

    }

    & .content-grid-text a {
        transform: translateY(5px);
        transition: all 0.6s;
        color: #dad88c;
        background: none;

    }

    & .content-grid-text ul {
        transform: translateY(-5px);
        transition: all 0.6s;
    }
}

.card-content-container:hover {

    & .content-grid-text h2 {
        transform: translateY(10px);
        transition: all 0.6s;

    }

    & .content-grid-text ul {
        transform: translateY(5px);
        transition: all 0.6s;
    }

}

.fa {
    color: var(--link);
    font-size: 1.1em;
    transition: .3s ease-in;
    transform: scale(1.1);
    z-index: 1;

}

.fa:hover, .btns_more a:hover {
    color: burlywood;
}

.social-links li {
    color: #000;
    display: inline-block;
    margin: 3em 2em 1em 0em;
    padding: 0 8em 0 0;
}

.social-links a {
    display: table-caption;
}

/*grid*/


.content-grid-text {
    display: grid;


}

.chiara-pic {
    width: 100%;
    border-radius: 10%;
    border: #8dc7ab 1em solid;
}

.about {
    margin: 6em 0 0 0;
}

.about-btn {
    padding: 15px;
    overflow-x: hidden;
    background-color: var(--backgund-main);
    transition: .3s ease-in;
    transform: scale(1.1);
    z-index: 1;
    border-radius: 40px;
    border: 2px solid #000;
    margin: 1% auto;
    font-weight: 500;
    cursor: pointer;

}

.about-btn:hover{
    background-color: var(--backound-two);
    color: #000;
    transition: .3s ease-in;
    transform: scale(1.1);
    z-index: 1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;

}

.container {
    height: 120vh;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    animation: expand .8s ease forwards;
    position: relative;
    transition: all .8s ease;

    @media only screen and (min-width: 600px) {
        display: flex;
        height: 100vh;

    }
}

.container_content {
    width: 100%;

    @media only screen and (min-width: 600px) {
        width: 80%;
    }
}

.container_content_inner {
    padding: 0 4em;
    @media only screen and (min-width: 1000px) {
    padding: 0 6em;
    }
}

.container_outer_img {
    margin: 50px;
    width: 20%;
    overflow: hidden;
    display: none;

    @media only screen and (min-width: 600px) {
        display: block;
    }

}

.container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
}

.project-container {
    margin: 1em;
    @media only screen and (min-width: 600px) {
        margin: auto;
        width: 100%;
    }

}


.project-container h1{
    margin: 1em;
}
.one-margin {
    margin-left: 1.2em;
}

.par {
    height: auto;
    overflow: hidden;
}

.par p {
    line-height: 2em;
    font-size: 1.5em;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
}

.links {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out forwards 1s;
}

.title {
    overflow: hidden;
    height: auto;
}

.container_content_inner p {
    transform: translateY(200px);
    animation: slideUp .8s ease forwards .5s;
}

.container_content_inner h1 {
    margin: 0;
    font-size: 3em;
    color: hsl(65, 85%, 74%);
    margin-bottom: 20px;
    transform: translateY(200px);
    animation: slideUp .8s ease forwards .6s;
    @media only screen and (min-width: 600px) {
    font-size: 6em;
    }

}

nav {
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}

.nav-link {
    overflow: hidden;
    line-height: 28px;
    transform: translateY(1000px);
    animation: slideUp .8s ease-in-out forwards .8s;
}


.pages-links a,
.btns_more {
    font-size: 1.5em;
}

.nav-link h1 {
    margin-left: 1em;
}



.nav-link ul li {
    padding-right: .5em;

    @media only screen and (min-width: 1000px) {
        padding-right: 1em;
    }
}

.fixed-nav {
    background-color: var( --contrast-color);
    z-index: 1;
}


.fixed-nav ul {
    display: flex;
    margin: 0 1.2em;


    @media only screen and (min-width: 1000px) {

        justify-content: space-between;
        align-items: center;
    }
}

footer {
    margin-top: 3em;
    background-color: var(--sec-color);
}

footer .socials {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    padding: 1em .5em;

    @media only screen and (min-width: 600px) {
        padding: 2em 6em;
    }
}

header {
    z-index: 9;
}

/* Project css */
.header-project {
    background: var(--backound-main);
    padding: 2%;
    width: 100%;
    height: auto;
}

/* .header-project h1 {
    color: var(--sec-color);
} */

.header,
.project-nav {
    position: sticky;
    top: 0;
}

.project-nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-color);

    @media only screen and (min-width: 600px) {}
}

.project-information-container {
    background-color: var(--backgund-main);
    padding: 1em;

    @media only screen and (min-width: 600px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

    }
}

.project-tabs {
    background-color: var(--non-click-tabs);
    color: var(--body-one);
    border-radius: 12px;
    width: fit-content;
    padding: .5em;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin: .5em;
}

.list-tab {
    display: flex;
}

.list-tab ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media only screen and (min-width: 600px) {}
}

.background-color {
    padding: 2em;
    margin: 0;
    background-color: var(--sec-color);

    @media only screen and (min-width: 600px) {
        padding: 6em;

    }
}


.background-color-one{
    background-color: #cddec9;
  
}
.personal p, .personal{
    color: #395346;
}
.personal-container {
    text-align: center;
    color: #395346;
}

.para-img {
    @media only screen and (min-width:1250px) {
        width: 50%;
    }
}


.dp-box {
    width: 200px;
    max-height: 600px;
 
    border-radius: 5%;
    padding: 1em;
}

.project-conext-container {
    margin: 0 1em;

    @media only screen and (min-width: 600px) {
        margin: 0 6em;
    }
}

.project-conext-container p {
    margin: 1em 0;
    line-height: 1.5em;
}

.project-conext-container h2 {
    font-size: 3em;
    color: var(--project-header-color);
}

.content-container-project img {
    max-width: 100%;

    @media only screen and (min-width: 600px) {
        height: auto;
    }
}

.content-container-project-1 img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.youtube {
    max-width: 95%;
    display: block;
    margin: 1.5em 0;
}

.fimga {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}

.cute-bullets {
    margin-left: 1em;
}

.cute-bullets li {
    list-style: circle;
    margin-right: 1em;
}

.border-r {
    border-right: 2px dotted hsl(150, 19%, 27%);
    margin: 25px;
}

.border-r-l {

    @media only screen and (min-width: 600px) {
        border-bottom: 1px dotted hsl(150, 25%, 61%);
    }

    @media only screen and (min-width: 1000px) {
        border: 1px dotted hsl(150, 25%, 61%);
    }
}