.flex-init{
    @media screen and (min-width:600px) {  
    display: flex;
    flex-wrap: initial;
    flex: 50%
}}

.layout-content-grid-1 article{
margin: 1em 0;
}
a.left
{
    color: $primary-color;
    position: relative;
    font-size: 1em;
}
.layout-content-grid-1 a.left:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  background-color:#F68F75;

}
a.left:hover{
    color: $hover-color;
}
a.left:hover:before {
    visibility: visible;
    width: 100%;
  }

.layout-content-grid-1{
    margin: 2em;
    @media screen and (min-width:700px) {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
          "layout-container-l layout-container-l layout-container-l layout-container-l"
          "layout-container-l2 layout-container-r2 layout-container-r2 layout-container-r2"
          "layout-container-l3 layout-container-l3 layout-container-l3  layout-container-l3"
          "layout-container-l4 layout-container-l4 layout-container-l4 layout-container-l4"
          "layout-container-l5 layout-container-l5 layout-container-l5 layout-container-l5"
          "layout-container-l6 layout-container-l6 layout-container-l6 layout-container-l6"
          "layout-container-l66 layout-container-l66 layout-container-l66 layout-container-l66"
          "layout-container-l7 layout-container-l7 layout-container-l7 layout-container-l7"
          "layout-container-l8 layout-container-l8 layout-container-l8 layout-container-l8"
          "layout-container-l9 layout-container-l9 layout-container-l9 layout-container-l9"
          "layout-container-l10 layout-container-l10 layout-container-l10 layout-container-l10"
          "layout-container-center layout-container-center layout-container-center layout-container-center";
}
}
.layout-container-l22{
    margin-bottom: 2em;
    @media screen and (min-width:600px){
        margin-bottom: 0;
}
}

.layout-content-grid-1 ol li{
list-style:circle;
list-style-type: circle
;
}
.layout-container-l{
    @media screen and (min-width:600px){
    grid-area: layout-container-l;
}
}



.layout-container-l3{
    @media screen and (min-width:600px){
    grid-area: layout-container-l3;
}
}
.layout-container-l4{
    @media screen and (min-width:600px){
    grid-area: layout-container-l4;
}
}
.layout-container-l5{
    @media screen and (min-width:600px){
    grid-area: layout-container-l5;
}
}
.layout-container-l6{
    @media screen and (min-width:600px){
    grid-area: layout-container-l6;
}
}
.layout-container-l66{
    @media screen and (min-width:600px){
    grid-area: layout-container-l66;
}
}
.layout-container-l7{
    @media screen and (min-width:600px){
    grid-area: layout-container-l7;
}
}
.layout-container-l8{
    @media screen and (min-width:600px){
    grid-area: layout-container-l8;
}
}
.layout-container-l9{
    @media screen and (min-width:600px){
    grid-area: layout-container-l9;
}
}
.layout-container-l10{
    @media screen and (min-width:600px){
    grid-area: layout-container-l10;
}
}
.layout-container-r{
    @media screen and (min-width:600px){
    grid-area: layout-container-r; 
}
}

.layout-container-r2{
    background-color: $third-color;
    padding: 1em;
    @media screen and (min-width:600px){
    grid-area: layout-container-r2; 
}
}

.layout-container-r3{
    @media screen and (min-width:600px){
    grid-area: layout-container-r3; 
}
}

.layout-container-center{
    @media screen and (min-width:600px){
    grid-area: layout-container-center; 
}
}


.image-row{
    display: flex;
}

.image-row img{
    width: 25%;
    display: inline-flex;
    margin: auto;
}

.image-galla{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}


iframe{
    width: 95%;
    height: 150px;
    @media screen and (min-width:600px){
    height: 300px;
}
}

.hero-background-image{
    background: url("https://i.ibb.co/t3KpZjf/Ink-Tank-Hero.png");
    background-color: #F9E8E1;
    height: 50px;
    padding: 10%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.hero-background-image-CD{
    background: url("https://i.ibb.co/DRPVXx1/Portfolio4chowdown.jpg" );
    background-color: #e51c25;
    height: 50px;
    padding: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.layout-content-grid-1 i{
font-size: 18px;
font-weight: bold;
}

.layout-container-l4 img{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    @media screen and (min-width:600px){
    width: 80%;
}
}

.layout-container-l6 img{
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    @media screen and (min-width:600px){
    width: 50%;
}   
}

.layout-container-l5 .img-1{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    @media screen and (min-width:600px){
    width: 25%;
}  
}

.layout-container-l5 .img-2{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    @media screen and (min-width:600px){
    width: 80%;
}  
}

.layout-container-l6 img{
    width: 100%;
    @media screen and (min-width:600px){
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}  
}

.layout-container-l66 img{
    width: 100%;
    @media screen and (min-width:600px){
    width: 40%;
    height: auto;
    margin: auto;
    display: block;
}  
}

.layout-container-l7 .img-1{
    width: 100%;
    @media screen and (min-width:600px){
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}  
}
.layout-container-l7 .img-2{
    width: 100%;
    @media screen and (min-width:600px){
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}  
}
.layout-container-l8 img{
    width: 100%;
    @media screen and (min-width:600px){
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
}  
}
.layout-container-l9 img{
    width: 100%;
    @media screen and (min-width:600px){
    width: 50%;
    height: auto;
    margin: auto;
    display: block;

}  
}

.layout-container-r2 h2{
 color: #000;
 margin:  1em;
text-align: center;
}
.skill-list-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.skills-style-proj{
    padding: 10px;
    width: 100%;
    max-width: 50%;
    margin: .2em;
    border: 4px solid #000;
    color: #000;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width: 900px){
        font-size: 1em;
        max-width: 45%;
}
@media screen and (min-width: 900px){
    font-size: 1.5em;
}
}

video{
    width: 100%;
    height: auto;
}