.layout-hero{
    background-color: #9379FF;
    height:400px;
    width: 100%;
    padding: 0;
    position: relative;
}

.layout-hero-header{
position: absolute;
bottom: 10%;
padding-left: 5%;
color: $hero-text-color;
}