.layout-hero{
    background-color: $third-color;
    height:100px;
    width: 100%;
    padding: 0;
    position: relative;
}

.layout-hero-header{
position: absolute;
bottom: 10%;
padding-left: 5%;
font-size: 1.2em;
color: $primary-color;
@media screen and (min-width: 600px){
    font-size: 2em;
}
}