.layout-hero{
    background-color: #F68F75;
    height:250px;
    width: 100%;
    padding: 0;
    position: relative;
}

.layout-hero-header{
position: absolute;
bottom: 10%;
padding-left: 5%;
color: $primary-color;
}