
li{
    list-style: none;
    color: currentColor;
}

a{
    text-decoration: none;
    margin-right: .2%;
    font-weight: 600;
    transition: ease-in .3s;
    transform: scale(1.1);
    z-index: 1;
}

a, a:visited, a:focus {
    color: $primary-color;
    font-size: 30px;
}

a:hover{
    color: $hover-color;
    transition: ease-in .3s;
    transition: ease-out .3s;
    transform: scale(1);
}

