
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Raleway:wght@400;800&display=swap');

/* FONT SIZE */
$primary-size: 1.1em;
$social-icons:1.6em;
$small-font: 1em;

/* FONT FAMILY */
$header-title: 'Raleway', sans-serif;
$main-content:   'Quicksand', sans-serif;

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-family: 18px;
    margin-top: 1em;

}
span{
    font-family: 'Quicksand', sans-serif;
    font-family: 18px;
}

article{
    font-family: 'Quicksand', sans-serif;
    font-family: 18px;   
}

a{
    font-family: 'Quicksand', sans-serif;
    font-family: 18px;
}

li{
    font-family: 'Quicksand', sans-serif;
    font-family: 18px;  
}

.primary-header{
    padding: 1em 0;
    font-size: 50px;
    color: $primary-color;
    text-align: center;

}

.white-header{
    margin: 1em 0;
    padding: 1em 0;
    font-size: 50px;
    text-align: center;
    color: $hero-text-color;
}

.blk-header{
    margin: 1em 0;
    padding: 1em 0;
    font-size: 50px;
    text-align: center;
    color: $primary-color;
}

.header-grey{
    margin-bottom: 2em;
    font-size: 35px;
    color: $secondary-color;   
    text-align: center;
    @media screen and (min-width:600px){
}
}

.secondary-header{
    margin-bottom: 2em;
    font-size: 35px;
    color: $primary-color;   
    text-align: center;
    @media screen and (min-width:600px){
}
}

.project-titles{
    margin: 1em 0;
    font-size: 30px;
    color: $primary-color
}

