.proflieInfo{
    margin: 0 1em;
    display: block;
    justify-content: center;
    @media screen and (min-width:600px) {  
    display: inline-flex;
} 
}
.pro{
    display: block;
    width: 250px;
    height: auto;
    margin: 1em auto;
    box-shadow:
    0 0 0 5px #8BC7B2,
    0 0 0 2px #86CCFF;
    border-radius: 100%;

}
.about-content-L{
    margin: 1em;
    width: 100%;
    @media screen and (min-width:600px) { 
}
}
.about-content-R{

    padding: .5em 0;
    @media screen and (min-width:600px) { 
        padding: 7em 0;

    }
}

.about-content-R img{
    width: 100px;
    @media screen and (min-width:600px) { 
    width: 150px;
}
}

.overlay{
    text-align: center;
}
.overlay p{
    font-weight: bold;
}

.layer{
    font-weight: 400;
}

.about-social{
    display: flex;
    align-content: center;
    white-space: inherit;
    justify-content: space-evenly;
    font-size: 2em;
    text-align: center;
}