    .gallery {
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    .illustration{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ill-border{

}

.ease-in{
  transition: ease-out .3s;
  transform: scale(1);
}
.ease-in:hover{
  transition: ease-in .3s;

}

.sub-title{
text-align: center;
margin: 1.5em 0;
}