.projects{
    margin: 1em 2em;
}

.galla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 600px){
        flex-wrap: wrap;
        white-space: pre-wrap;
}
}

.web p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
}

.web{
    display: block;
    position: relative;
    width: 275px;
    height: 250px;
    border-radius: 1em;
    margin: 3em 1em;
    background-color: $fourth-color;
    transition: ease-in .3s;
    @media screen and (min-width: 768px){
        width: 380px;

    
    }
}

.web:hover{
    color: $hover-color;
    background: $hover-color;
    transition: ease-out .3s;
    transform: scale(1);
    
}


.web p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.web h4{
    font-family: $primary-color;
    font-size: 1.2em;
    font-weight: 300;
    @media screen and (min-width: 600px){
    }
}

.web span{
    font-weight: bold;
    font-family: $primary-color;
    font-size: .6em;
    border: none;
    background-color: none;

}

.web span:hover{
    list-style: 1px solid $hover-color ;
    transition: ease-out .3s;
    transform: scale(1);
    
}

.web a:hover{
    color: $hover-color;
}


.sub-title-1{
    margin-left: 5x;
}

.hon, .soul, .ana, .chi, .text, .ash, .con{
display: block;
margin: auto;

}

.chi{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('https://i.ibb.co/pzDkq2T/mockup-d-3.png');
    width: 100%;
    height: 250px;
    border-radius: 10%;
    
}

.con{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url('https://i.ibb.co/t3KpZjf/Ink-Tank-Hero.png');
    width: 100%;
    height: 250px;
    border-radius: 10%;
}

.hon{
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        background-image: url('https://i.ibb.co/bBW0Z9q/Portfolio4chowdown.jpg');
        width: 100%;
        height: 250px;
        border-radius: 10%; 
}

.illustraiton-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.graphic-design-1{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/FV4PTG7/geomet-tatt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 1em;
    border: 2px solid #000;
    padding: 10%;
        @media screen and (min-width:600px) { 
            width: 300px;
            height: 300px;
        }

}



.graphic-design-2{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/X7HnD7B/little-tea-cup-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 1em;
    border: 2px solid #000;
    padding: 10%;
        @media screen and (min-width:600px) { 
            width: 300px;
            height: 300px;
        }

}

.graphic-design-3{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/MNyQ4gg/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 1em;
    border: 2px solid #000;
    padding: 10%;
        @media screen and (min-width:600px) { 
            width: 300px;
            height: 300px;
        }

}

.graphic-design-4{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/PQxrFjk/logo2-copy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 1em;
    border: 2px solid #000;
    padding: 10%;
        @media screen and (min-width:600px) { 
            width: 300px;
            height: 300px;
        }

}


.graphic-design-5{
    width: 150px;
    height: 150px;
    background-image: url("https://i.ibb.co/7JLjz4m/wolfie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 1em;
    border: 2px solid #000;
    padding: 10%;
        @media screen and (min-width:600px) { 
            width: 300px;
            height: 300px;
        }

}

input{
    font-size: 18px;
    border: none;
    background-color: transparent;
    display: block;
    margin: auto;
    text-decoration: underline;
}

.graphic-work-conaitner img{
width: 300px;
height: auto;
    
}
.graphic-work-conaitner {
    display: block;
    margin: 1.5em;
}
