.skill-container{
    background-color: $third-color;
    color: $primary-color; 
    padding: 1em;

}

.skills-style{
    width: 55%;
    max-width: 75%;
    margin: .2em;
    border: 4px solid $primary-color;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width: 800px){
        width: 40%;
        max-width: 80%;
        padding: 10px;
        font-size: 1em;
}
}

.enjoy-containter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-L{
    @media screen and (min-width: 600px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}

.skills{
    margin: 3em 0;
    text-align: center;
    @media screen and (min-width: 600px){
    flex: 40%;
    width: 50%;
    }
}
