/* COLOR */
$primary-color: #000;
$secondary-color:  #565454;
$third-color:#49957A;
$fourth-color: #b2f5de;
$hero-text-color: #fff;
$first-button-social-color: #fff;
$second-button-social-color: #000;
$first-button-social-color-hover: #fef0a9;
$hover-color: #F68F75;



/* WIDTH */

.flex{
    display: flex;
    flex-wrap: wrap;

}
.bold{
    font-weight: bold;
}





