/* COLOR */
$primary-color: #000;
$secondary-color:  #D4D4D4;
$third-color:#1856C9;
$hero-text-color: #fff;
$first-button-social-color: #fff;
$second-button-social-color: #000;
$first-button-social-color-hover: #DBAA01;

/* FONT SIZE */
$primary-size: 18px;
$social-icons: 25px;
$small-font: 12px;

/* WIDTH */

.flex{
    display: flex;
    flex-wrap: wrap;

}





