/* COLOR */

/* COLOR */
$primary-color: #000;
$secondary-color:  #565454;
$main-hover-color:#d4d4d4;
$third-color:#8DC7AB;
$fourth-color: #8DC7AB;
$fifth-color: #F68F75;
$hero-text-color: #fff;
$first-button-social-color: #fff;
$second-button-social-color: #000;
$first-button-social-color-hover: #fef0a9;
$hover-color: #6B868A;




/* WIDTH */

.flex{
    display: flex;
    flex-wrap: wrap;

}
.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline $third-color;
}
