#bottomFooter{
    border-top: 2px solid lightgray;
    margin-top: 3em;
    padding: 2em;
    @media screen and (min-width:500px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
}
#bottomFooter {
    text-align: center;
    @media screen and (min-width:500px) {
        text-align: start;
    }
}
.footer-links-bottom h1{
    font-size: 2.5em;
    margin-left: 1em;
    margin-bottom: .2em;

}

.footer-links-bottom li{
    margin: 0 .5em;
}

#bottomFooter ul {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

#bottomFooter .fa{
    font-size: $social-icons;
    transition: ease-in .3s;
}

.footer-copy-bottom{
    text-align: center;
    @media screen and (min-width:500px) {
    text-align: end;
}
}



#bottomFooter .copy,
#bottomFooter .copy a {
    color: #000;
    transition: ease-in .3s;
    font-size: $small-font;
}

#bottomFooter .copy a:hover, 
#bottomFooter .fa:hover {
    color: $third-color;
    transition: ease-out .3s;
}

.copy a:hover {
    color: #12a58c;
    transition: ease-out .3s;
}
